 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div> -->
                <div>
                    <p>
                        I am currently a master student majoring in computer science at University of Southern California and expected to graduate in May 2021. I specialize in web development, both front end and back end. I am familiar with multiple programming languages including Java, Python, C++, Javascript, Swift and I am also have experience with different kinds of front end and back end frameworks including Spring, Django, Flask, Vue, React.  I have 1 year research experience related to machine learning as well.  
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/1kMkSPOKQFQx4ixx0FAbIx0cV7CblbEGK/view?usp=sharing" class="btn btn-lg btn-outline">
                        View Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
